In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv ("/content/drive/MyDrive/Colab Notebooks/NBA Player Stats(1950 - 2022).csv", sep=',', header=None, skiprows=1)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,0,0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1,1950,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,2,1950,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,3,1950,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,4,1950,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [8]:
df.shape

(28237, 32)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28238 entries, 0 to 28237
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       28237 non-null  float64
 1   1       28238 non-null  object
 2   2       28238 non-null  object
 3   3       28238 non-null  object
 4   4       28238 non-null  object
 5   5       28238 non-null  object
 6   6       28238 non-null  object
 7   7       28238 non-null  object
 8   8       21821 non-null  object
 9   9       27737 non-null  object
 10  10      28238 non-null  object
 11  11      28238 non-null  object
 12  12      28109 non-null  object
 13  13      22468 non-null  object
 14  14      22468 non-null  object
 15  15      18703 non-null  object
 16  16      28238 non-null  object
 17  17      28238 non-null  object
 18  18      28036 non-null  object
 19  19      28109 non-null  object
 20  20      28238 non-null  object
 21  21      28238 non-null  object
 22  22      27118 non-null  object
 23  23      24338 non-null  object
 24  24      24338 non-null  object
 25  25      27926 non-null  object
 26  26      28238 non-null  object
 27  27      24338 non-null  object
 28  28      24338 non-null  object
 29  29      23186 non-null  object
 30  30      28238 non-null  object
 31  31      28238 non-null  object
dtypes: float64(1), object(31)
memory usage: 6.9+ MB

In [ ]:
import pandas as pd
pd.options.display.max_rows
pd.options.display.max_columns=None
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
0,NaN,Unnamed: 0,Season,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
1,0.0,0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,144.0,516.0,0.279,NaN,NaN,NaN,144.0,516.0,0.279,0.279,170.0,241.0,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
2,1.0,1,1950,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,102.0,274.0,0.372,NaN,NaN,NaN,102.0,274.0,0.372,0.372,75.0,106.0,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
3,2.0,2,1950,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,174.0,499.0,0.349,NaN,NaN,NaN,174.0,499.0,0.349,0.349,90.0,129.0,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
4,3.0,3,1950,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,22.0,86.0,0.256,NaN,NaN,NaN,22.0,86.0,0.256,0.256,19.0,34.0,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0

In [9]:
df.columns=["NaN","Unnamed","Season","Player","Pos","Age","Tm","G","GS","MP","FG","FGA","FG%","3P","3PA","3P%","2P","2PA","2P%","eFG%","FT","FTA","FT%","ORB","DRB","TRB","AST","STL","BLK","TOV","PF","PTS"]

# renombramos las columnas
df= df.rename(columns={0:"NaN",1:"Unnamed",2:"Season",3:"Player",4:"Pos",5:"Age",6:"Tm",7:"G",8:"GS",9:"MP",10:"FG",11:"FGA",12:"FG%",13:"3P",14:"3PA",15:"3P%",16:"2P",17:"2PA",18:"2P%",19:"eFG%",20:"FT",21:"FTA",22:"FT%",23:"ORB",24:"DRB",25:"TRB",26:"AST",27:"STL",28:"BLK",29:"TOV",30:"PF",31:"PTS"})
df.head()

,NaN,Unnamed,Season,Player,Pos,Age,Tm,G,GS,MP,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1,1950,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,2,1950,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,3,1950,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,4,1950,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28237 entries, 0 to 28236
Data columns (total 32 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   NaN      28237 non-null  int64
 1   Unnamed  28237 non-null  int64
 2   Season   28237 non-null  int64
 3   Player   28237 non-null  object
 4   Pos      28237 non-null  object
 5   Age      28237 non-null  float64
 6   Tm       28237 non-null  object
 7   G        28237 non-null  float64
 8   GS       21820 non-null  float64
 9   MP       27736 non-null  float64
 10  FG       28237 non-null  float64
 11  FGA      28237 non-null  float64
 12  FG%      28108 non-null  float64
 13  3P       22467 non-null  float64
 14  3PA      22467 non-null  float64
 15  3P%      18702 non-null  float64
 16  2P       28237 non-null  float64
 17  2PA      28237 non-null  float64
 18  2P%      28035 non-null  float64
 19  eFG%     28108 non-null  float64
 20  FT       28237 non-null  float64
 21  FTA      28237 non-null  float64
 22  FT%      27117 non-null  float64
 23  ORB      24337 non-null  float64
 24  DRB      24337 non-null  float64
 25  TRB      27925 non-null  float64
 26  AST      28237 non-null  float64
 27  STL      24337 non-null  float64
 28  BLK      24337 non-null  float64
 29  TOV      23185 non-null  float64
 30  PF       28237 non-null  float64
 31  PTS      28237 non-null  float64
dtypes: float64(26), int64(3), object(3)
memory usage: 6.9+ MB

In [11]:
# contar el numero de nulos por columnas
df[["NaN","PTS"]]
nun_missing = (df[["NaN","Unnamed","Season","Player","Pos","Age","Tm","G","GS","MP","FG","FGA","FG%","3P","3PA","3P%","2P","2PA","2P%","eFG%","FT","FTA","FT%","ORB","DRB","TRB","AST","STL","BLK","TOV","PF","PTS"]] == 0).sum()
print(nun_missing)

NaN           1
Unnamed      73
Season        0
Player        0
Pos           0
Age           0
Tm            0
G             0
GS         6198
MP            5
FG          505
FGA         129
FG%         376
3P         7699
3PA        3765
3P%        3934
2P          601
2PA         202
2P%         399
eFG%        376
FT         1322
FTA        1120
FT%         202
ORB        1106
DRB         471
TRB         349
AST         970
STL        1401
BLK        2738
TOV         703
PF          411
PTS         369
dtype: int64