In [8]:
import pandas as pd
import numpy as np
df = pd.read_csv ("/content/drive/MyDrive/Colab Notebooks/all_seasons.csv", sep=',', header=None, skiprows=1)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,27,55,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,24,15,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,58,9,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,9,64,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,10,27,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [3]:
df.shape

(12306, 22)

In [4]:
import pandas as pd
pd.options.display.max_rows
pd.options.display.max_columns=None
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
0,NaN,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
1,0.0,Dennis Rodman,CHI,36.0,198.12,99.79024,Southeastern Oklahoma State,USA,1986,2,27,55,5.7,16.1,3.1,16.1,0.18600000000000003,0.32299999999999995,0.1,0.479,0.113,1996-97
2,1.0,Dwayne Schintzius,LAC,28.0,215.9,117.93392,Florida,USA,1990,1,24,15,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.43,0.048,1996-97
3,2.0,Earl Cureton,TOR,39.0,205.74,95.25432,Detroit Mercy,USA,1979,3,58,9,0.8,1.0,0.4,-2.1,0.105,0.102,0.10300000000000001,0.376,0.14800000000000002,1996-97
4,3.0,Ed O'Bannon,DAL,24.0,203.2,100.697424,UCLA,USA,1995,1,9,64,3.7,2.3,0.6,-8.7,0.06,0.149,0.16699999999999998,0.39899999999999997,0.077,1996-97

In [ ]:
df.columns=["id","player_name","team_abbreviation","age","player_height","player_weight","college","country","draft_year","draft_round","draft_number","gp","pts","reb","ast","net_rating","oreb_pct","dreb_pct","sg_pct","ts_pct","ast_pct","season"]

In [ ]:
# renombramos las columnas
df= df.rename(columns={0:"id",1:"player_name",2:"team_abbreviation",3:"age",4:"player_height",5:"player_weight",6:"college",7:"country",8:"draft_year",9:"draft_round",10:"draft_number",11:"gp",12:"pts",13:"reb",14:"ast",15:"net_rating",16:"oreb_pct",17:"dreb_pct",18:"sg_pct",19:"ts_pct",20:"ast_pct",21:"season"})
df.head()

,id,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,sg_pct,ts_pct,ast_pct,season
0,NaN,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
1,0.0,Dennis Rodman,CHI,36.0,198.12,99.79024,Southeastern Oklahoma State,USA,1986,2,27,55,5.7,16.1,3.1,16.1,0.18600000000000003,0.32299999999999995,0.1,0.479,0.113,1996-97
2,1.0,Dwayne Schintzius,LAC,28.0,215.9,117.93392,Florida,USA,1990,1,24,15,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.43,0.048,1996-97
3,2.0,Earl Cureton,TOR,39.0,205.74,95.25432,Detroit Mercy,USA,1979,3,58,9,0.8,1.0,0.4,-2.1,0.105,0.102,0.10300000000000001,0.376,0.14800000000000002,1996-97
4,3.0,Ed O'Bannon,DAL,24.0,203.2,100.697424,UCLA,USA,1995,1,9,64,3.7,2.3,0.6,-8.7,0.06,0.149,0.16699999999999998,0.39899999999999997,0.077,1996-97

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12306 entries, 0 to 12305
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       12305 non-null  float64
 1   1       12306 non-null  object
 2   2       12306 non-null  object
 3   3       12306 non-null  object
 4   4       12306 non-null  object
 5   5       12306 non-null  object
 6   6       12306 non-null  object
 7   7       12306 non-null  object
 8   8       12306 non-null  object
 9   9       12306 non-null  object
 10  10      12306 non-null  object
 11  11      12306 non-null  object
 12  12      12306 non-null  object
 13  13      12306 non-null  object
 14  14      12306 non-null  object
 15  15      12306 non-null  object
 16  16      12306 non-null  object
 17  17      12306 non-null  object
 18  18      12306 non-null  object
 19  19      12306 non-null  object
 20  20      12306 non-null  object
 21  21      12306 non-null  object
dtypes: float64(1), object(21)
memory usage: 2.1+ MB